.custom-download-button-container {
    margin-left: 8px;
}
.custom-download-button {
    width: 36px;
    height: 36px;
    align-items: center;
    background: rgba(255,255,255,0.1);
    border-radius: 8px;
    cursor: pointer;
    border-width: 0px;
}